# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Build outputs
dist/
build/
coverage/

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sw?

# Database files
*.sqlite
*.sqlite3
*.db

# Others
*.tgz
*.bak
*.tmp

# PM2 logs
pmlogs/
